:root {
    --header-desktop-height: 100px;
    --search-bar-height: 35px;
    --cubal-blue-dark: rgb(78,191,214);
    --cubal-blue-medium: rgb(111,209,225);
    --cubal-blue-light: rgb(168,228,238);
}

/* Search bar styling */

#header-search-bar {
    height: var(--search-bar-height);
    position: relative;
    display: flex;
    border: 1.2px solid darkgray;
    border-radius: 4px;
    justify-content: center;
    margin: auto 0 auto 100px;
    overflow: hidden;
}

#search-bar {
    height: var(--search-bar-height);
}

#header-left-float {
    position: absolute;
    height: 100%;
    float: left;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: auto;
}

#header-right-float {
    position: absolute;
    height: 100%;
    float: right;
    right: 0;
}


#header-search-bar svg {
    margin: auto 4px auto 16px;
    color: darkgray;
}

#header-search-bar input {
    outline: none;
    border: none;
    margin-left: 4px;
    width: 250px;
    height: 100%;
    padding: 0;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: .4px;

}

/* Logo styling */

#header-logo-wrapper {
    margin: auto 0 auto 50px;
    cursor: pointer;
    float: left;
    height: calc(var(--header-desktop-height) * .8);
    width: calc(var(--header-desktop-height) * .8);
    min-height: calc(var(--header-desktop-height) * .8);
    min-width: calc(var(--header-desktop-height) * .8);
}

#header-logo-wrapper a, #header-logo-wrapper a img {
    display: block;
    height: 100%;
    width: 100%;
}

/* Nav styling */

header {
    top: 0;
    height: var(--header-desktop-height);
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    position: relative;
}

#header-right-wrapper nav {
    margin: auto 30px auto 0;
    display: inline-block;
}

#header-right-wrapper nav ul {
    margin: auto 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#header-right-wrapper nav ul li {
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 8px;
    padding: 4px;
    border-bottom: 2px solid transparent;
}

#header-right-wrapper nav ul li:hover {
    border-bottom: 2px solid darkgray;
}

#header-right-wrapper {
    align-content: center;
    height: 100%;
    position: absolute;
    display: flex;
    right: 0;
}

#header-left-wrapper {
    align-content: center;
    height: 100%;
    position: absolute;
    display: flex;
    left: 0;
}
