node_modules
package-lock.json

# Dependencies
/src/client/node_modules
/src/client/.pnp
/src/client/.pnp.js

# Testing
/src/client/coverage

# Production
/src/client/build

# Misc
/src/client/.DS_Store
/src/client/.env.local
/src/client/.env.development.local
/src/client/.env.test.local
/src/client/.env.production.local

/src/client/npm-debug.log*
/src/client/yarn-debug.log*
/src/client/yarn-error.log*
